@import "../themes/typography";
@import "../abstracts/mixins";

.about-section {
    overflow: auto;
    height: calc(100vh - 16rem);

    @include respond(big-desktop) {
        padding: 0 10rem;
    }

    @include respond(tab-port) {
        padding: 0 1rem;
    }

    @include respond(tab-land) {
        padding: 0 2rem;
    }

    @include respond(phone) {
        padding: 0 2rem;
    }

    .emoji {
        width: auto;
        height: 3rem;
    }

    .gap-20 {
        gap: 1rem;
    }
}
.height {
    min-height: 20rem;
}
p.progress-label {
    margin-bottom: .4rem;
    display: inline-block;
    &:not(:last-child) {
        margin-right: 1rem
    }
}

.experience {
    &:hover {
        cursor: none;
    }
}

.progress-label {
    font-size: 2rem;
}