// Typography styles
@import "../themes/typography";
@import "../base/animations";

[class*="main-heading"] {
  @include respond(big-desktop) {
    font-size: 6rem;
  }

  @include respond(tab-port) {
    font-size: 5rem;
  }

  @include respond(tab-land) {
    font-size: 5rem;
  }

  @include respond(phone) {
    font-size: 4rem;
  }

  font-size: 10rem;
  font-weight: 200;
  // text-align: center;
  color: lighten($text-color, 25);
  overflow: hidden;
  user-select: none;
  font-family: $heading-font;
  .bold {
    font-weight: 300;
  }
}

.minor-heading {
  font-family: $minor-heading-font;
  font-size: 1.5rem;
  opacity: 0;
  color: lighten($text-color, 10);
  animation: appear 1s cubic-bezier(0.18, 0.93, 0.46, 1.01) 4s forwards;
  user-select: none;
}

.slide-in-bottom {
  display: block;
  transform: translateY(100%);
  animation: entry-text 1s cubic-bezier(0.18, 0.93, 0.46, 1.01) 2s forwards;
}

.slide-in-bottom-delayed {
  display: block;
  transform: translateY(100%);
  animation: entry-text 1s cubic-bezier(0.18, 0.93, 0.46, 1.01) 3s forwards;
}
.large {
  @include respond(big-desktop) {
    font-size: 12rem;
  }
  @include respond(tab-port) {
    font-size: 7rem;
  }

  @include respond(tab-land) {
    font-size: 8rem;
  }

  @include respond(phone) {
    font-size: 5rem;
  }

  font-weight: 200;
}
